@use '../_sass/variable'as*;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

html{
    font-size: 62.5%; 
    overflow-x: hidden;
}

body{
    font-family: 'Be Vietnam', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

a{
    font-size: 1.7rem;
    text-decoration: none;
    color: $Title_color;
    font-weight: 500;
    &:hover{
        opacity: .9;
    }
}

ul{
    list-style-type: none;
}

.btn{
    a{
        color: #fff;
        display: inline-block;
        font-weight: 400;
        font-size:1.7rem;
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        background-color: $bg_btn;
        &.light{
            background-color: #fff;
            color:$bg_btn;
        }
        &:hover{
            box-shadow: 0 2px 6px #ee532c;
        }
    }
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.subtitle{
    font-size: 1.6rem;
    color: $Text_color;
    font-weight: 400;
    line-height: 2.5rem;
}

h1,h2,h3{
 color:$Title_color;
 font-size: 4rem;
 font-weight: 600;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.8rem;
}