@use '../_sass/variable'as*;

/* header */
.header {
  -webkit-position: sticky;
  -moz-position: sticky;
  position: sticky;
  padding: 2rem 0;
  width: 100%;
  top: -110%;
  left: 0;
  z-index: 900;
  transition: 1s;
  &.sticky {
    top: 0;
    background-color: #fff;
  }
  .main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list_items {
      display: flex;
      li {
        margin: 0 3rem;
      }
      .close{
        display: none;
        position: absolute;
        top: 1rem;
        right: 2.5rem;
        i{
          color: #fff;
          font-size: 2.8rem;
        }
      }
    }
    .hamburger_menu {
      display: none;
      i {
        font-size: 2.8rem;
      }
    }
  }
}

/* intro */
.intro {
  padding-top: 8rem;
  overflow: hidden;
  margin-bottom: 10rem;
  position: relative;
  &::after {
    background: url("../../images/bg-tablet-pattern.svg") no-repeat;
    content: "";
    width: 100%;
    height: 970px;
    position: absolute;
    transform-origin: 0 100%;
    background-position: top right;
    top: 0;
    right: 0;
    transform: translate(10%, -30%);
    z-index: -1;
  }
  &__content {
    align-items: center;
  }
  &__text {
    flex: 0 0 50%;
    padding-right: 10rem;
    h1 {
      margin-bottom: 1.5rem;
    }
    .subtitle {
      margin-bottom: 2rem;
    }
  }
  &__image {
    flex: 0 0 50%;
  }
}

/* About manage */

.manage {
  margin-bottom: 20rem;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: translate(-70%, 30%);
  }

  &__left {
    padding-right: 10rem;
    flex: 0 0 50%;
    h2 {
      margin-bottom: 2rem;
    }
  }

  &__right {
    flex: 0 0 50%;
    .item{
      margin-bottom: 4rem;
      .item_number {
        padding-right: 2rem;
        span {
          width: 5rem;
          height: 3rem;
          line-height: 3rem;
          text-align: center;
          display: inline-block;
          border-radius: 2.5rem;
          font-weight: 500;
          font-size: 1rem;
          background-color: $bg_btn;
          color: #fff;
          vertical-align: -1rem;
        }
      }
    }
  }
}
/*statements*/
.statements {
  margin-bottom: 12rem;
  h2 {
    margin-bottom: 5rem;
  }
  .content {
    background-color: red;
    text-align: center;
    padding: 2rem 2rem 2.5rem 2rem;
    background-color: #fafafa;
    opacity: 0.4;
    transform: scale(0.8);
    .avatar {
      margin-bottom: 1.5rem;
      img {
        max-width: 8rem;
      }
    }
    .avatar_name {
      margin-bottom: 1.5rem;
      color: $Title_color;
      font-size: 1.5rem;
    }
  }
  .swiper-slide {
    &.swiper-slide-active {
      .content {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  .btn {
    padding-top: 5rem;
  }
}

/*top footer*/
.top_footer {
  background: $bg_btn url(../../images/bg-simplify-section-desktop.svg)
    no-repeat center center;

  overflow: hidden;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    .left_side {
      h4 {
        color: #fff;
        font-size: 2.5rem;
      }
    }
  }
}

/*footer*/

.footer {
  background-color: #1e1e26;
  padding: 3rem 0;
  .footer_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .logo_media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .media {
      a {
        margin: 0 0.5rem;
        color: #fff;
        transition: 0.3s;
        &:hover {
          color: $bg_btn;
        }
        i {
          font-size: 1.9rem;
        }
      }
    }
  }
  .links{
      justify-content: space-between;
    .list_item {
      li {
        line-height: 3rem;
        a {
          color: $Text_color;
          transition: 0.3s;
          &:hover {
            color: $bg_btn;
          }
        }
      }
    }
  }
  .form {
    .field_block {
      margin-bottom: 4rem;
      display: flex;
      justify-content: center;
      .email {
        height: 3rem;
        border: none;
        outline: none;
        border-radius: 2.5rem;
        padding: 0 1rem;
      }
      .submit {
        color: #fff;
        outline: none;
        border: none;
        padding: 0.8rem 1.2rem;
        background-color: $bg_btn;
        border-radius: 2.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .copy_right {
      text-align: center;
      padding-left: 4rem;
      font-size: 1.2rem;
      color: $Text_color;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    .btn {
      display: none;
    }
  }
  .intro {
    &::after {
      background-size: 60%;
      transform: translate(10%, -15%);
    }
  }
}

@media (max-width: 768px) {
  .html {
    font-size: 50%;
  }
  .header {
    .main_nav {
      .list_items {
        position: fixed;
        top: -110%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(35, 44, 80, 0.7);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        backdrop-filter: blur(12px);
        transition: .3s ease-in-out;
        z-index: 1000;
        li {
          margin: 1rem 0;
          a {
            color: #fff;
          }
        }
        &.show {
          top: 0;
          .close{
            display: block;
          }
        }
      }
      .hamburger_menu {
        display: block;
      }
    }
  }
  .intro{
    &::after{
      display: none;
    }
    &__content {
      flex-direction: column;
     text-align: center;
    }
    &__text{
      flex: 0 0 100%;
      padding: 0 4rem;
      margin-bottom: 5rem;
      h1 {
        font-size: 2.8rem;
      }
    }
    &__image {
      flex: 0 0 100%;
    }
  }
  .manage{
    margin-bottom: 8rem;
    .manage__content{
      flex-direction: column;
      text-align: center;
    }
    &__left {
      padding:0;
      flex: 0 0 100%;
      margin-bottom: 4rem;
      h2 {
        margin-bottom: 2rem;
      }
    }
  
    &__right {
      flex: 0 0 100%;
      .item{
         h3{
           margin-bottom: 1.5rem;
         }
        .item_number{
          display: none;
        }
      }
    }
  }
  .top_footer{
    .content{
      flex-direction: column;
      .left_side{
        margin-bottom: 3rem;
        text-align: center;
      }
    }
  }
  .footer{
    .footer_content{
      text-align: center;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      .form{
        order: 3;
        .field_block{
          margin-bottom: 2rem;
        }
        .copy_right{
          padding: 0;
        }
      }
      .links{
        justify-content: center;
        .list_item{
          order: 2;
          margin:3rem;
        }
      }
      .logo_media{
        order: 3;
        margin-bottom: 3rem;
        .logo{
          margin-bottom: 1.5rem;
        }
        .media{
          a{
           margin: 0 1.5rem;
          }
        }
      }
    }
  }
}


@media (max-width:576px){
  .intro{
    &__content{
      .intro__text{
        padding: 0 2rem;
        h1{
          font-size: 2.3rem;
        }
      }
    }
  }
}
