@charset "UTF-8";
/* header */
.header {
  position: sticky;
  padding: 2rem 0;
  width: 100%;
  top: -110%;
  left: 0;
  z-index: 1000;
  transition: 1s;
}
.header.sticky {
  top: 0;
  background-color: #fff;
}
.header .main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main_nav .list_items {
  display: flex;
}
.header .main_nav .list_items li {
  margin: 0 3rem;
}
.header .main_nav .hamburger_menu {
  display: none;
}
.header .main_nav .hamburger_menu i {
  font-size: 2.8rem;
}

/* intro */
.intro {
  padding-top: 8rem;
  overflow: hidden;
  margin-bottom: 10rem;
  position: relative;
}
.intro::after {
  background: url("../../images/bg-tablet-pattern.svg") no-repeat;
  content: "";
  width: 100%;
  height: 970px;
  position: absolute;
  transform-origin: 0 100%;
  background-position: top right;
  top: 0;
  right: 0;
  transform: translate(10%, -30%);
  z-index: -1;
}
.intro__content {
  align-items: center;
}
.intro__text {
  flex: 0 0 50%;
  padding-right: 10rem;
}
.intro__text h1 {
  margin-bottom: 1.5rem;
}
.intro__text .subtitle {
  margin-bottom: 2rem;
}
.intro__image {
  flex: 0 0 50%;
}

/* About manage */
.manage {
  margin-bottom: 20rem;
  position: relative;
}
.manage__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transform: translate(-70%, 30%);
}
.manage__left {
  padding-right: 10rem;
  flex: 0 0 50%;
}
.manage__left h2 {
  margin-bottom: 2rem;
}
.manage__right {
  flex: 0 0 50%;
}
.manage__right .item {
  margin-bottom: 4rem;
}
.manage__right .item .item_number {
  padding-right: 2rem;
}
.manage__right .item .item_number span {
  width: 5rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  display: inline-block;
  border-radius: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  background-color: #f3613c;
  color: #fff;
  vertical-align: -1rem;
}

/*statements*/
.statements {
  margin-bottom: 12rem;
}
.statements h2 {
  margin-bottom: 5rem;
}
.statements .content {
  background-color: red;
  text-align: center;
  padding: 2rem 2rem 2.5rem 2rem;
  background-color: #fafafa;
  opacity: 0.4;
  transform: scale(0.8);
}
.statements .content .avatar {
  margin-bottom: 1.5rem;
}
.statements .content .avatar img {
  max-width: 8rem;
}
.statements .content .avatar_name {
  margin-bottom: 1.5rem;
  color: #232c50;
  font-size: 1.5rem;
}
.statements .swiper-slide.swiper-slide-active .content {
  transform: scale(1);
  opacity: 1;
}
.statements .btn {
  padding-top: 5rem;
}

/*top footer*/
.top_footer {
  background: #f3613c url(../../images/bg-simplify-section-desktop.svg) no-repeat center center;
  overflow: hidden;
}
.top_footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.top_footer .content .left_side h4 {
  color: #fff;
  font-size: 2.5rem;
}

/*footer*/
.footer {
  background-color: #1e1e26;
  padding: 3rem 0;
}
.footer .footer_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer .logo_media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .logo_media .media a {
  margin: 0 0.5rem;
  color: #fff;
  transition: 0.3s;
}
.footer .logo_media .media a:hover {
  color: #f3613c;
}
.footer .logo_media .media a i {
  font-size: 1.9rem;
}
.footer .links {
  justify-content: space-between;
}
.footer .links .list_item li {
  line-height: 3rem;
}
.footer .links .list_item li a {
  color: #9C9FA4;
  transition: 0.3s;
}
.footer .links .list_item li a:hover {
  color: #f3613c;
}
.footer .form .field_block {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.footer .form .field_block .email {
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  padding: 0 1rem;
}
.footer .form .field_block .submit {
  color: #fff;
  outline: none;
  border: none;
  padding: 0.8rem 1.2rem;
  background-color: #f3613c;
  border-radius: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
.footer .form .field_block .submit:hover {
  opacity: 0.9;
}
.footer .form .copy_right {
  text-align: center;
  padding-left: 4rem;
  font-size: 1.2rem;
  color: #9C9FA4;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .btn {
    display: none;
  }

  .intro::after {
    background-size: 60%;
    transform: translate(10%, -15%);
  }
}
@media (max-width: 768px) {
  .html {
    font-size: 50%;
  }

  .header .main_nav .list_items {
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 44, 80, 0.7);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    transition: 0.3s ease-in-out;
    z-index: 1000;
  }
  .header .main_nav .list_items li {
    margin: 1rem 0;
  }
  .header .main_nav .list_items li a {
    color: #fff;
  }
  .header .main_nav .list_items.show {
    top: 0;
  }
  .header .main_nav .hamburger_menu {
    display: block;
    z-index: 1000;
  }
  .header .main_nav .hamburger_menu i {
    transition: 0.3s ease-in-out 150ms;
  }
  .header .main_nav .hamburger_menu i.show {
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  .header .main_nav .hamburger_menu i.show::before {
    content: "";
  }

  .intro::after {
    display: none;
  }
  .intro__content {
    flex-direction: column;
    text-align: center;
  }
  .intro__text {
    flex: 0 0 100%;
    padding: 0 4rem;
    margin-bottom: 5rem;
  }
  .intro__text h1 {
    font-size: 2.8rem;
  }
  .intro__image {
    flex: 0 0 100%;
  }

  .manage {
    margin-bottom: 8rem;
  }
  .manage .manage__content {
    flex-direction: column;
    text-align: center;
  }
  .manage__left {
    padding: 0;
    flex: 0 0 100%;
    margin-bottom: 4rem;
  }
  .manage__left h2 {
    margin-bottom: 2rem;
  }
  .manage__right {
    flex: 0 0 100%;
  }
  .manage__right .item h3 {
    margin-bottom: 1.5rem;
  }
  .manage__right .item .item_number {
    display: none;
  }

  .top_footer .content {
    flex-direction: column;
  }
  .top_footer .content .left_side {
    margin-bottom: 3rem;
    text-align: center;
  }

  .footer .footer_content {
    text-align: center;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .footer .footer_content .form {
    order: 3;
  }
  .footer .footer_content .form .field_block {
    margin-bottom: 2rem;
  }
  .footer .footer_content .form .copy_right {
    padding: 0;
  }
  .footer .footer_content .links {
    justify-content: center;
  }
  .footer .footer_content .links .list_item {
    order: 2;
    margin: 3rem;
  }
  .footer .footer_content .logo_media {
    order: 3;
    margin-bottom: 3rem;
  }
  .footer .footer_content .logo_media .logo {
    margin-bottom: 1.5rem;
  }
  .footer .footer_content .logo_media .media a {
    margin: 0 1.5rem;
  }
}
@media (max-width: 576px) {
  .intro__content .intro__text {
    padding: 0 2rem;
  }
  .intro__content .intro__text h1 {
    font-size: 2.3rem;
  }
}/*# sourceMappingURL=styles.css.map */